env: local
debug: false
log: 'somewhere.log'
local:
    subtitle: '/Users/pro/Workspace/tricklin/api.kcwiki.moe/storage/app/subtitles/'
production:
    subtitle: '/var/www/api.kcwiki.moe/storage/app/subtitles/'
voice_cache: '/somewhere'
account:
    username: 'grzhan'
    password: 'somepassword'
dmm_account:
    username: 'emailaddress'
    password: 'somepassword'
api_password: 'somepassword'
